# IntelliJ / Android Studio user-specific files
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
/deploymentTargetDropDown.xml
/render.experimental.xml
app/src/debug/AndroidManifest.xml
